<div class="form-group">
    <form action="">
        <label for="categoryName" class="form-label">CategoryName</label>
        <input name="categoryName" [(ngModel)]="categoryName" class="form-control" type="text">
        <img [src]="image" width="100px" height="100px" alt="">
        <label class="form-label" for="categoryImage"></label>
        <input class="form-control" (change)="select($event)" type="file" name="categoryImage" id="">
        <button (click)="upload()" class="btn btn-primary ">Save Category</button>
        <button (click)="cancel()" class="btn btn-danger ">Cancel</button>

    </form>
</div>