/* .box-info {
    background-color: brown;
} */

.bg-image {
    background-image: url("../../assets/images/BGearrings.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    padding-top: 50px;
    text-align: center;
}

.cat-name {
    margin-left: 30%;
}

.cat-name .btn {
    margin: 10%;
}